language: go

go_import_path: github.com/moooofly/harbor-go-client

go:
  - "1.8.x"
  - "1.9.x"
  - master

before_install:
  - go get -v golang.org/x/lint/golint
  - go get -v github.com/alecthomas/gometalinter
  - go get -v github.com/client9/misspell/cmd/misspell

install:
  - make install

script:
  - make lint
  - make test
  - make misspell

notifications:
  email: fei.sun@liulishuo.com
